<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jk.mapper.CkMapper" >
    <select id="selectCount"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM a_user
    </select>

    <select id="selectUser"  resultType="com.jk.model.User">
        SELECT * FROM a_user
    </select>

    <insert id="addLunBoTu"  parameterType="com.jk.model.LunBo">
        INSERT INTO t_lunbotu VALUES (#{imgId},#{imgName},#{imgUrl},#{clickUrl},#{imgStatus})
    </insert>

    <select id="selectLunBo"  parameterType="java.lang.Integer"  resultType="com.jk.model.LunBo">
        SELECT * FROM t_lunbotu LIMIT #{start},#{pageSize}
    </select>

    <select id="selectLunBoCount"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_lunbotu
    </select>
</mapper>